$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-gutter-width-mobile: 15px !default;

$vertical-gutter: 20px !default;
$external-gutters: 1% !default;

$grid-padding: 30px !default;
$grid-padding-mobile: 15px !default;
