// Titles
$h1-fs: 46px;
$h1-mobile-fs: 28px;

$h2-fs: 30px;
$h2-mobile-fs: 20px;

$h3-fs: 24px;
$h3-mobile-fs: 18px;

// Text big
$text-big-fs: 18px;
$text-extra-big-fs: 22px;

// Text small
$text-small-fs: 14px;
$text-extra-small-fs: 12px;

// Forms
$input-fs: 14px;
$form-filter-label-active-fs: 11px;

// Link and buttons
$btn-fs: 15px;
$links-fs: 18px;

// Lists
$list-title-fs: 22px;

// Access bar
$access-bar-fs: 11px;

// Dates
$date-fs: 11px;

// New
$new-fs: 12px;

// Tags
$tag-mobile-fs: 11px;

// Prices
$price-fs: 36px;
$price-mobile-fs: 28px;
$price-destination-fs: 24px;
$price-parking-fs: 32px;

// block-link-icon
$block-link-icon-title-fs: 24px;
$block-link-icon-title-mobile-fs: 18px;

// News accessor
$block-news-accessor-fs: 20px;

// Diapo
$block-diapo-title-fs: 30px;

// Tabs
$tab-nav-link-fs: 22px;

// Press
$block-press-title-fs: 20px;

// Home
$home-title-fs: 34px;
$home-title-mobile-fs: 20px;

// News
$news-title-fs: 36px;
$news-title-mobile-fs: 24px;
$list-news-title-fs: 20px;
$list-news-highlight-title-fs: 28px;

// Store
$store-desc-fs: 28px;

// Legend
$text-legend-fs: 13px;

// Destination landing
$landing-title-fs: 46px;

$destination-landing-title-fs: 28px;
$destination-landing-title-mobile-fs: 20px;
