//GRID
$container-size: 1230px;

//BUTTONS
$btn-min-width: 130px;
$btn-height: 50px;
$tag-height: 30px;

//ACCESS-BAR
$access-bar-height: 40px;

//BREADCRUMB
$breadcrumb-border: #dcd9e5;

//FORMS
$input-height: 50px;
$input-width: 570px;
$input-border: #cfcfcf;

//CAROUSEL
$carousel-dot-size: 10px;

//MODAL
$modal-max-width: 970px;

//ARTICLE
$article-header-height: 200px;

//ICON
$w-icon-large: 50px;